.card-img-top{
  width: 500px;
}
.card{
  width: 500px;
  overflow: hidden;
  
}
.card-img-top:hover{
  transform: scale(1.1);
  transition: color 0.3s ease-out;
  transform-origin: center;
  transition: transform 0.4s ease-in-out;
  max-width: 100%;
}
.title-in-home{
  text-align: center;
}

.card-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100vw;
  position: center;

}